* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* profil pic in index for post lis */
.container-profile-picture {
  width: 100px;
  padding: 10px;
}

/* profil pic in read for post lis */
.container-profile-picture-create {
  width: 70px;
  height: 70px;
  padding: 2px;
}

.profile-picture, .nopic {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #212529;
}
.nopic{
  height: 100%;
  font-size: 10rem;
  background-color: green;
  color: white;
  font-weight: 900;
}

.nopic-small{
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  text-align: center;
  background-color: green;
  border: 3px solid #212529;
}

/* Handling form */
.mod-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 2px solid gray;
  background-color: transparent;
}

.mod-input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #0d6efd;
  border-radius: 0;
  box-shadow: none;
}

/* User profile */

.profile-pic {
  height: 250px;
  width: 250px;
}
.profile-pic img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid #212529;
  object-fit: contain;
}
.btn.edit-profil-pic{
  width: max-content;
  height: max-content;
}
.edit-profil-pic {
  position: relative;
  left:83%;
  bottom: 36px;
}
.profil-item{
  margin: 0;
  padding: 0;
}

/* New post */

.post-title:focus{
  color:#212529;
}