{% extends 'base.html' %} {% load static%}
{% block title %} {{ user_profile.user.first_name}} {{user_profile.user.last_name}} {% endblock title %} 
{% block main%}
    <div class="container">
        <div class="border shadow">
            <div class="text-center mx-auto fw-bold bg-dark text-white py-3 mb-3">
                Changing password
            </div>

            <div class="mx-auto form-group has-warning has-feddback px-5 form-container">
                <form method="POST">
                    {% csrf_token %}
                    {% if form.errors.old_password %}
                    {{form.errors.old_password | safe}}
                    {% endif %}
                    {{form.old_password}}
                    <div class="text-muted">{{ form.new_password1.help_text}}</div>
                    {{form.new_password1}}
                    {% if form.errors.new_password2 %}
                    {{form.errors.new_password2 | safe}}
                    {% endif %}
                    {{form.new_password2}}
                    <div class=" mb-4">
                        <a class="btn btn-secondary w-25" href="{% url 'users_app:profile' user.pk %}">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary w-25" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}