{% extends "base.html" %} {% load static%}
{% block title%}Réinitialion Mot de passe{%endblock%} 
{% block styles%}
<link href="{% static 'css/login.css'%}" rel="stylesheet" />
{%endblock%} {% block main %}
<main class="container d-flex justify-content-center align-items-center">
    <div class="border py-5 shadow user-form col-md-7">
        <div
            class="login-header text-center m-auto fw-bold bg-dark text-white mb-3"
        >
            Nouvelle Mots de passe
        </div>
        <div
            style="width: 80%"
            class="m-auto form-group has-warning has-feddback"
        >
            <form method="post">
                {% csrf_token %}
                {{form.new_password1}} 
                {{form.new_password2}}
                {% if form.error %}
                <div class=" border border-danger rounded-3 border-2">
                    {% for err in form.errors.new_password2%}
                    <p class="text-danger text-center mb-1"> {{ err }} </p>
                    {% endfor %}
                </div>
                {% endif %}
                    <div class="text-muted">{{ form.new_password1.help_text}}</div>
                <button class="btn btn-primary form-control">
                    Valider
                </button>
            </form>
        </div>
        <div class="text-center p-2 mt-1">
            <a href="{% url 'user_app:login' %}"> Se connecter</a>
        </div>
    </div>
</main>
{% endblock main%}
