{% extends 'base.html' %}
{% block title %} {{ user_profile.user.first_name}} {{user_profile.user.last_name}} {%endblock title %}
{% block main %}
<div class="container">
    <div class="card p-5 shadow">
        <div class="profil-pic-container mb-5">
            <div class="mx-auto profile-pic">
                {% if user_profile.profilepicture == '' %}
                <div class="nopic d-flex text-white fw-bold justify-content-center align-items-center p-0 m-0">
                    <p class="p-0 m-0">{{user_profile.user.username.0|upper}}</p>
                </div>
                {% else %}
                    <img src="{{user_profile.profilepicture}}" alt="{{user.username}} image">
                {% endif%}

                {% if user_profile.user == user %}
                <a class="btn btn-primary edit-profil-pic" href="{%url 'users_app:profile_pic' user.pk %}"><i
                        class="fas fa-pen"></i></a>
                {% endif %}
            </div>
        </div>


        {% if user_profile.user == user %}
        <div class="px-3 py-2">
            <a class="btn btn-primary w-100" href="{% url 'users_app:edit' user.pk %}">Edit
                my profile <i class="fas fa-pen"></i></a>
        </div>
        {% endif %}

        <ul class="profil-item py-3">


            {% if user_profile.user == user %}
            <li class="list-group-item">
                Username : {{user_profile.user.username}}
            </li>
            {% endif %}
            <li class="list-group-item">Lastname : {{ user_profile.user.first_name }}</li>
            <li class="list-group-item">Firstname : {{ user_profile.user.last_name}}</li>
            <li class="list-group-item">Email : {{user_profile.user.email}}</li>
            <li class="list-group-item">
                Date de naissance : {{ user_profile.dateNaissance}}
            </li>
            <li class="list-group-item">Adresse : {{ user_profile.adresse}}</li>
            <li class="list-group-item">Level : {{user_profile.niveaux}}</li>

        </ul>

        {% if user_profile.user == user %}
        <div class="px-3 py-2 d-flex justify-content-between">
            <a class="btn btn-primary" href="{% url 'users_app:changepassword' user.pk%}">Change my password <i
                    class="fas fa-pen"></i></a>
            <a href="{% url 'users_app:delete' user.pk %}" class="btn btn-danger">
                Delete my account
                <i class="fas fa-trash"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}