{% extends "base.html" %} {% load static%} {% block title %} Connexion 
{% endblock %} {% block styles %}
<link href="{% static 'css/login.css'%}" rel="stylesheet" /> {% endblock %} 
{% block main %}
<main
    class="container d-flex flex-column justify-content-center align-items-center"
>
    <div class="border pt-4 pb-5 shadow col-md-5">
        {% if messages %} {% for msg in messages %}
        <div
            class="alert alert-{{msg.tags}} border-{{msg.tags}} mb-4 text-center border-2"
        >
            {{ msg}}
        </div>
        {% endfor %} {% endif %}

        <div
            class="login-header text-center mx-auto fw-bold bg-dark text-white mb-3"
        >
            Connexion
        </div>
        <div
            style="width: 80%"
            class="mx-auto form-group has-warning has-feddback"
        >
            <form action="." method="POST">
                {% csrf_token %} {% for err in form.non_field_errors %}
                <div
                    class="text-danger text-center border border-2 rounded-3 border-danger mb-3 p-2"
                >
                    <p class="m-0">{{ err }}</p>
                </div>
                {% endfor %} {% for field in form %} {{ field }} {% endfor %}
                <input
                    type="submit"
                    value="Connexion"
                    class="form-control btn btn-primary"
                />
            </form>
        </div>
        <div class="text-center p-2 mt-1">
            <a href="{% url 'user_app:reset_password' %}">
                Mot de passe oublié?</a
            >
            |
            <a href="{% url 'user_app:create' %}"> Crée un compte</a>
        </div>
    </div>
</main>
{% endblock main %}
