{% extends "base.html" %} {% load static%} {% block title %} Réinitialion Mot de passe {% endblock %}
 {% block styles %}
<link href="{% static 'css/login.css'%}" rel="stylesheet" /> {% endblock %} 
{% block main %}
<main class="container d-flex justify-content-center align-items-center">
        <div class="border py-5 shadow col-md-5">
            <div
                class="login-header text-center mx-auto fw-bold bg-dark text-white mb-3"
            >
                Réinitialiser le mots de passe
            </div>
            <div
                style="width: 80%"
                class="mx-auto form-group has-warning has-feddback"
            >
                <form  method="POST">
                    {% csrf_token %}
                    {{ form.email}}
                    <input
                        type="submit"
                        value="Demander les instructions"
                        class="form-control btn btn-primary"
                    />
                </form>
            </div>
            <div class="text-center p-2 mt-1">
                <a href="{% url 'user_app:login' %}"> Se connecter</a>
            </div>
        </div>
    </main>
{% endblock main %}
