{% extends "base.html" %}
{% load static%} {% block title %} Connexion
{% endblock %}
{% block main %}

<div class="container">
    <div class="border shadow">
        <div class="text-center mx-auto fw-bold bg-dark text-white py-3 mb-3">
            Log in
        </div>
        <div class="mx-auto form-group has-warning has-feddback px-5 form-container">
            <form action="." method="POST">
                {% csrf_token %} {% for err in form.non_field_errors %}
                <div class="text-danger text-center border border-2 rounded-3 border-danger mb-3 p-2">
                    <p class="m-0">{{ err }}</p>
                </div>
                {% endfor %} {% for field in form %} {{ field }} {% endfor %}
                <input type="submit" value="Sing in" class="form-control btn btn-primary mb-3" />
            </form>
        </div>
        <div class="text-center pb-3">
            <a href="{% url 'users_app:reset_password' %}">
                Forgot password</a>
            |
            <a href="{% url 'users_app:create' %}"> Create a new account</a>
        </div>
    </div>
</div>

{% endblock main %}