{% extends "base.html" %} {% load static%} {% block title %} Connexion {% endblock %}
 {% block styles %}
<link href="{% static 'css/login.css'%}" rel="stylesheet" /> {% endblock %} 
{% block main %}
<main class="container d-flex justify-content-center align-items-center">
        <div class="border py-5 shadow col-md-5">
            <div
                class="alert-info p-3 text-center m-2"
            >
                Un e-mail contenant les instruction pour la réinitialisation de votre mots de passe à été envoyer
            </div>

            <div class="text-center p-2">
                <a href="{% url 'user_app:login' %}"> Se connecter</a>
            </div>
        </div>
    </main>
{% endblock main %}
