{% extends 'base.html' %} {% load static%}
{% block title %} {{ user_profile.user.first_name}} {{user_profile.user.last_name}} {% endblock title %}




{% block main %}
<div class="container">
    <div class="card shadow">
        <div class="text-center fw-bold bg-dark text-white py-3 mb-3">
            Updating profile iformations
        </div>
        <div class="px-5 pb-3">
                    <div class="profil-pic-container mb-5">
                        <div class="mx-auto profile-pic">
                            {% if user_profile.profilepicture == '' %}
                            <div class="nopic d-flex text-white fw-bold justify-content-center align-items-center p-0 m-0">
                                <p class="p-0 m-0">{{user.username.0|upper}}</p>
                            </div>
                            {% else %}
                            <img src="{{user.profile.profilepicture}}" alt="{{user.username}} image">
                            {% endif%}
                    
                            {% if user_profile.user == user %}
                            <a class="btn btn-primary edit-profil-pic" href="{%url 'users_app:profile_pic' user.pk %}"><i
                                    class="fas fa-pen"></i></a>
                            {% endif %}
                        </div>
                    </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in userForm %} {{ field }} {% endfor %}
                {% for field in profileForm %} {{ field }} {% endfor %}
                <div>
                    <a class="btn btn-secondary w-25" href="{% url 'users_app:profile' user.pk%}">Cancel</a>
                    <button class="btn btn-primary w-25" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}