{% extends 'base.html' %}
{% block title %}Suprimer {{ post.titlePost}}-{{post.authorPost}}{% endblock%}
{% block main%}
<div class="container">
    <div class="card shadow">
        <div class="text-center fs-4 fw-bold bg-dark text-white py-3 mb-3">
            Are you sure to delete this Comment?
        </div>
        <div class="p-3">
            <form method="POST" class="d-flex justify-content-between">
                {% csrf_token %}
                <a href="{% url 'forum_app:read' postpk %}" class="btn btn-primary fw-bold w-25">Cancel</a>
                <input class="btn btn-danger fw-bold w-25" type="submit" value="Delete" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
