{% extends 'base.html' %} {% block corps%} {% for post in Post %}
<div class="card border-0 shadow p-0 mt-3">
    <div class="card-header py-0 d-flex justify-content-between">
        <a href="{% url 'user_app:profile' post.authorPost.pk %}" class="text-info d-block">{% if post.authorPost.first_name != "" %}{{post.authorPost.first_name}}{% else %}{{post.authorPost}}{% endif %} </a>
        <h5 class="text-center fw-bold card-titre mb-0">{{ post.titlePost }}</h5>
    </div>
    <div class="card-body">
        <a
            href="{% url 'forum_app:read' post.pk %}"
            class="card-link text-black text-decoration-none"
            ><p class="card-text">{{post.contentPost|truncatewords:15}}</p></a
        >
    </div>
</div>
{% endfor %} {%endblock%}
