{% extends 'base.html' %} {% block main %} 

<div class="container">
{% for post in Post %}
<div class="card mt-5 shadow">
    <div class="card-body d-flex">
        {% if user.authorPost.profile.profilepicture == true %}
        <div
            class="container-profile-picture-create d-flex text-white fw-bold justify-content-center align-items-center p-0 m-0">
            <p class="nopic-small p-0 m-0">{{post.authorPost.username.0|upper}}</p>
        </div>
        {% else %}
        <div class="container-profile-picture-create">
            <img class="profile-picture" src="{{user.authorPost.profile.profilepicture}}" alt="{{user.username}} image">
        </div>
        {% endif%}
            <div class="w-100">
                    <div class="py-0 d-flex justify-content-between">
                        <span class="h5 fw-bold">{{ post.titlePost }}</span>
                        <a href="{% url 'users_app:profile' post.authorPost.pk %}" class="text-info d-block">{% if post.authorPost.first_name != "" %}{{post.authorPost.first_name}}{% else %}{{post.authorPost}}{% endif %} </a>
                    </div>
                <p class="card-text">{{post.contentPost|truncatewords:60}} <a href="{% url 'forum_app:read' post.pk %}" class="card-link text-decoration-none"> [read more]</a></p>
                <span class="text-muted">{{post.postcomment_set.count}} Comment | {{post.reaction_set.count}} Reaction</span>
            </div>
    </div>
</div>

{% endfor %}
</div>
{%endblock%}
