{% extends 'base.html' %} {% load static%}
{% block title %}{{ Post.titlePost}}-{{Post.authorPost}}{% endblock%}
{% block corps%}

<div class="card border-0 shadow p-0">
    <div class="card-header d-flex justify-content-between">
        <a href="" class="text-info d-block">{% if Post.authorPost.first_name != "" %}{{Post.authorPost.first_name}}{{Post.authorPost.last_name | truncatewords:3}}{% else %}{{Post.authorPost}}{% endif %} </a>
        <h5 class="text-center fw-bold card-titre">{{ Post.titlePost }}</h5>
    </div>
    <div class="card-body">{{Post.contentPost}}</div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                >React</a
            >
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                >React</a
            >
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                >React</a
            >
        </div>
        <div>
            {% if user.id == Post.authorPost.id %}
            <a
                href="{% url 'forum_app:update' Post.pk %}"
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                ><i class="fas fa-pen"></i
            ></a>
            <a href="{% url 'forum_app:delete' Post.pk %}"
                class="btn btn-smallcard-link-read-post text-danger text-decoration-none d-inline text-center"
            >
                <i class="fas fa-trash"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="comment mt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, debitis!
    <div class="card-footer d-flex justify-content-between">
        <div>
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                >React</a
            >
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                >React</a
            >
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                >React</a
            >
        </div>
        <div>
            <a
                href=""
                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"
                ><i class="fas fa-pen"></i
            ></a>
            <button
                class="btn card-link-read-post text-danger text-decoration-none d-inline text-center"
            >
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>
</div>

<div class="mt-5 m-auto form-group has-warning has-feddback">
    <form action="." method="post">
        <textarea
            id=""
            class="form-control mb-3"
            style="height: 100px"
        ></textarea>
        <input
            type="submit"
            value="Commenter"
            class="form-control btn btn-primary"
        />
    </form>
</div>


{% endblock %}