{% extends 'base.html' %}
{% load static%}
{% block title %}Nouvelle Publication{% endblock%}
{% block main%}
<div class="container">
    <form method="POST" class="card shadow">
        {% csrf_token%}
        <div class="d-flex align-items-center fw-bold bg-dark text-white">
            <div class="mx-auto container-profile-picture-thumbnail">
                {% if user.profile.profilepicture == '' %}
                <div class="nopic-small d-flex text-white fw-bold justify-content-center align-items-center p-0 m-0">
                    <div class="p-0 m-0">{{user.username.0|upper}}</div>
                </div>
                {% else %}
                <div class="container-profile-picture-thumbnail">
                    <img class="profile-picture" src="{{user.profile.profilepicture}}" alt="{{user.username}} image">
                </div>
                {% endif%}
            </div>





            <div class="w-100 px-3">
                <div class="fw-bold text-center py-2">
                    Create new post
                </div>
                {{ form.titlePost }}
            </div>
        </div>
        <div class="p-4">
            {{ form.contentPost}}
            <input type="submit" value="Publish" class="form-control btn btn-primary" />
        </div>
    </form>
</div>
{% endblock %}