{% extends 'base.html' %} {% load static%}
{% block title %}{{ Post.titlePost}}-{{Post.authorPost}}{% endblock%}
{% load comment %}
{% block main%}
<div class="container mt-5">


    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <div class="container-profile-picture2">
                    {% if Post.profile.profilepicture == true %}
                    <div
                        class="container-profile-picture-create d-flex text-white fw-bold justify-content-center align-items-center p-0 m-0">
                        <p class="nopic-small p-0 m-0">{{Post.authorPost.username.0|upper}}</p>
                    </div>
                    {% else %}
                    <div class="container-profile-picture-create">
                        <img class="profile-picture" src="{{Post.authorPost.profile.profilepicture}}" alt="{{user.username}} image">
                    </div>
                    {% endif%}
                </div>
                <div class=" w-100 d-flex justify-content-between">
                    <div class="ps-5 fw-bold">
                        {{ Post.titlePost }}
                    </div>
                    <div class="text-muted ">
                        {% if Post.authorPost.first_name != ""%}
                        {{Post.authorPost.first_name}}{{Post.authorPost.last_name |truncatewords:3}}
                        {%else%}
                        {{Post.authorPost}}
                        {% endif%}
                    </div>
                </div>
            </div>
            <div class="card-body">{{Post.contentPost}}</div>
            <div class="d-flex justify-content-between card-footer">
                <div>
                    <a href="{% url 'forum_app:reaction' pk=Post.pk reactionType='up' %}"
                        class="btn card-link-read-post text-info text-decoration-none d-inline text-center">
                        <i class="fas fa-arrow-up"></i> {{Reaction.up}}</a>
                    <a href="{% url 'forum_app:reaction' pk=Post.pk reactionType='down' %}"
                        class="btn card-link-read-post text-info text-decoration-none d-inline text-center"><i
                            class="fas fa-arrow-down"></i> {{Reaction.down }}</a>
                </div>
                <div>
                    {% if user.id == Post.authorPost.id %}
                    <a href="{% url 'forum_app:update' Post.pk %}"
                        class="btn card-link-read-post text-info text-decoration-none d-inline text-center"><i
                            class="fas fa-pen"></i></a>
                    <a href="{% url 'forum_app:delete' Post.pk %}"
                        class="btn btn-smallcard-link-read-post text-danger text-decoration-none d-inline text-center">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>







    {% if Post.postcomment_set.all %}
    {% for comment in Post.postcomment_set.all %}
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <div class="container-profile-picture2">
                    {% if comment.commentAuthor.profilepicture == true %}
                    <div
                        class="container-profile-picture-create d-flex text-white fw-bold justify-content-center align-items-center p-0 m-0">
                        <p class="nopic-small p-0 m-0">{{comment.commentAuthor.username.0|upper}}</p>
                    </div>
                    {% else %}
                    <div class="container-profile-picture-create">
                        <img class="profile-picture" src="{{comment.commentAuthor.profile.profilepicture}}" alt="{{user.username}} image">
                    </div>
                    {% endif%}
                    <p class="text-center">{{comment.commentAuthor.username}}</p>
                </div>
                <div class=" w-100 d-flex align-items-center p-2 flex-column">
                    <p>{{comment.contentComment}}</p>

                    <div class=" w-100 d-flex justify-content-between border-top">
                        <div>

                            <a href="{% url 'forum_app:reactioncomment' Post.pk 'up' comment.pk %}"
                                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"><i
                                    class="fas fa-arrow-up"></i> {% comm_reaction_count_up comment %}</a>
                            <a href="{% url 'forum_app:reactioncomment' Post.pk 'down' comment.pk %}"
                                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"><i
                                    class="fas fa-arrow-down"></i> {% comm_reaction_count_down comment %}</a>
                        </div>
                        <div>
                            {% if user.id == comment.commentAuthor.id %}
                            <a href="{% url 'forum_app:comupdate' Post.pk comment.pk %}"
                                class="btn card-link-read-post text-info text-decoration-none d-inline text-center"><i
                                    class="fas fa-pen"></i></a>
                            <a href="{% url 'forum_app:comdelete' Post.pk comment.pk %}"
                                class="btn btn-smallcard-link-read-post text-danger text-decoration-none d-inline text-center">
                                <i class="fas fa-trash"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endfor %}

    {% endif %}

    {% if user.is_authenticated %}
    <div class="mt-5 m-auto form-group has-warning has-feddback">
        <form action="{% url 'forum_app:commenter' Post.pk %}" method="post">
            {% csrf_token %}
            <textarea id="" class="form-control mb-3" style="height: 100px" name="commentaire"></textarea>
            <input type="submit" value="Commenter" class="form-control btn btn-primary" />
        </form>
    </div>
    {% else %}
    <div class="card card-info  text-center m-sm-2 mb-1 mt-1">
        Connecter-vous pour répondre
    </div>
    {% endif %}
</div>
{% endblock %}